<!DOCTYPE html>
<html lang="en">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>

<body>
    <div class="img">
        <video autoplay muted loop id="background-video">
            <source src="{{ url_for('static', filename='images/Chitti.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <h1 class="head">Welcome to TheraTalkAi!</h1>

    </div>
    <div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">TheraTalkAi</h4>
                    <p class="chatbox__description--header">Hey. I'm Chitti,  <em>your mini friend</em></p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button>
                Chat with
                Chitti
            </button>
        </div>
    </div>
    </div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>