<!DOCTYPE html>
<html lang="en">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>

<body>
    <h1 class="head">Welcome to Mental Health Support!</h1>
    <div class="img">
        <img src="{{ url_for('static', filename='images/mental-health.png') }}" width="400" height="330">
    </div>
    <div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">(Pandora)</h4>
                    <p class="chatbox__description--header">Hey. I'm Pandora, your <em>mental health agent</em></p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button>
                Chat with
                our specialist
            </button>
        </div>
    </div>
    </div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>